.formulario-bg-descongelacao h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: var(--cor-branco-1);
}

.formulario-bg-descongelacao {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria-4);
}

.formulario-container-descongelacao {
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: stretch;
  background-color: var(--cor-primaria-1);
  padding: 60px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .formulario-bg-descongelacao {
    height: 110vh;
  }
}

@media (max-width: 800px) {
  .formulario-bg-descongelacao {
    height: 90vh;
  }

  .formulario-container-descongelacao {
    width: 400px;
    max-width: 400px;
    padding: 40px;
  }
}

@media (max-width: 500px) {
  .formulario-bg-descongelacao {
    height: 140vh;
  }
  .formulario-container-descongelacao {
    width: 200px;
    max-width: 200px;
  }
}
